<div id="about">
  <h1>About</h1>
  <div>
    <div>
      <h3>Overview:</h3>
      <p>
        The app’s purpose is to define or translate English-language terminology
        used in computer programming courses, for use by all students, whether
        or not English is a student’s first language.
      </p>
      <p>
        Many students are learning English and computer programming at the same
        time. Technical terminology can often be unclear, complicated, or not
        explained well. The intent of this app is to function like a dictionary,
        or Wikipedia, as well as provide other resources (including course notes
        and learning resources).
      </p>
      <p>
        General functionality includes:
      </p>
      <ul>
        <li>View and browse a list of all terms.</li>
        <li>Search for a term, in any language.</li>
        <li>
          View details about a term, and its meaning in English and in other
          languages.
        </li>
        <li>
          Add a new term, English, or in another language (including its first
          or initial definition).
        </li>
        <li>
          Edit an existing term (English or other), and add another definition or data.
        </li>
      </ul>
    </div>
    <div>
      <h3>How-to Use:</h3>
      <p>

      </p>
    </div>
  </div>
</div>
