<div class="containter">
<div class="row">
  <div class="col-md-12">
    <h3>Add a new term</h3>
    <p>Enter data, and click/tap the Save button</p>
    <form (ngSubmit)='addTerm()' #f='ngForm'>

      <div class="col-md-8">
        <div class="form-group">
          <label class="control-label" for="author">*Author Name:</label>
          <input class="form-control" id="author" name="auth" placeholder="Enter Your Name..." [(ngModel)]="newTerm.authorName" required minlength="5" maxlength="100"
            #author="ngModel">

          <!-- Validation error area -->
          <div *ngIf='author.invalid && (author.dirty || author.touched)' class='alert alert-danger'>
            <div *ngIf='author.errors?.required'>Author name is required</div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label" for="datecreated">Date Created:</label>
          <input class="form-control" id="datecreated" name="datecreated"  [(ngModel)]="newTerm.dateCreated" required minlength="5" maxlength="50"
            disabled #datecreated="ngModel">
        </div>
      </div>

    <div class="col-md-8">
      <div class="form-group">
        <label class="control-label" for="englishword">*English Term or Word:</label>
        <input class="form-control" id="englishword" name="englishword" placeholder="Enter Term..." [(ngModel)]="newTerm.wordEnglish" required minlength="3"
          maxlength="200" #englishword="ngModel" autofocus>

        <!-- Validation error area -->
        <!-- Single condition... -->
        <!-- <div [hidden]="name.valid || name.pristine" class='alert alert-danger'> -->
        <!-- Multiple conditions... -->
        <div *ngIf='englishword.invalid && (englishword.dirty || englishword.touched)' class='alert alert-danger'>
          <!-- The code below is situation-dependent - think before coding -->
          <div *ngIf='englishword.errors?.required'>English Word is required, 3 to 100 characters</div>
          <div *ngIf='englishword.errors?.minlength'>English Word must be at least 3 characters</div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="form-group">
        <label class="control-label" for="wordexpanded">Expansion of term, if acronym:</label>
        <input class="form-control" id="wordexpanded" name="wordexpanded" placeholder="Enter Expanded Form..." [(ngModel)]="newTerm.wordExpanded" required minlength="3"
          maxlength="200" #wordexpanded="ngModel" autofocus>
      </div>
    </div>

    <div class="col-md-8">
      <div class="form-group">
        <label class="control-label" for="fieldofstudy">*Field of Study:</label>
        <input class="form-control" id="fieldofstudy" name="fieldofstudy" placeholder="Enter Field..." [(ngModel)]="newTerm.fieldOfStudy" required minlength="5" maxlength="200"
          #fieldofstudy="ngModel">

        <!-- Validation error area -->
        <div *ngIf='fieldofstudy.invalid && (fieldofstudy.dirty || fieldofstudy.touched)' class='alert alert-danger'>
          <div *ngIf='fieldofstudy.errors?.required'>Field of Study is required</div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="form-group">
        <label class="control-label" for="def">*Definition:</label>
        <textarea class="form-control" id="def" name="def" placeholder="Type A Definition..." [(ngModel)]="newTerm.definitions[0].definition" required minlength="5" maxlength="500"
          rows="8" #def="ngModel" ></textarea>

        <!-- Validation error area -->
        <div *ngIf='def.invalid && (def.dirty || def.touched)' class='alert alert-danger'>
          <div *ngIf='def.errors?.required'>Definiton is required</div>
        </div>
      </div>
    </div>

    <!-- <div class="col-md-8">
      <div class="form-group">
        <label class="control-label" for="nonenglishword">NonEnglish Word:</label>
        <input class="form-control" id="nonenglishword" name="nonenglishword" [(ngModel)]="newTerm.wordNonEnglish" required minlength="5" maxlength="200"
          #nonenglishword="ngModel">
      </div>
    </div> -->

    <!-- Select-option (default single select, dropdown)
    <div class="col-md-8">
      <div class="form-group">
         <label class="control-label" for="langcode">Language Code:</label>
      <select class="form-control" id="langcode" name="langcode"
        [(ngModel)]="newTerm.languageCode" #langcode="ngModel">
        <option *ngFor="let l of lc" [value]="l.value"
        [selected]="newTerm.languageCode==l.text ? true : null">{{l.text}}</option>
      </select>
      </div>
    </div>-->

    <div class="col-md-8">
      <div class="form-group">
        <label class="control-label" for="image">Link (URL), Image:</label>
        <input class="form-control" id="image" name="image" placeholder="https://...." [(ngModel)]="newTerm.image" required minlength="5" maxlength="200"
          #image="ngModel">
      </div>
    </div>

    <div class="col-md-8">
      <div class="form-group">
        <label class="control-label" for="authoritative">Link (URL), Authoritative:</label>
        <input class="form-control" id="authoritative" name="authoritative" placeholder="https://...." [(ngModel)]="newTerm.linkAuthoritative" required minlength="5" maxlength="200"
          #authoritative="ngModel">
      </div>
    </div>

    <div class="col-md-8">
      <div class="form-group">
        <label class="control-label" for="audio">Link (URL), Audio Pronounciation:</label>
        <input class="form-control" id="audio" name="audio" placeholder="https://...." [(ngModel)]="newTerm.audio" required minlength="5" maxlength="200"
          #audio="ngModel">
      </div>
    </div>



    <div class="col-md-8">
      <div class="form-group">
        <label class="control-label" for="wiki">Link (URL), on Wikipedia:</label>
        <input class="form-control" id="wiki" name="wiki" placeholder="https://...." [(ngModel)]="newTerm.linkWikipedia" required minlength="5" maxlength="200"
          #wiki="ngModel">
      </div>
    </div>


    <div class="col-md-8">
      <div class="form-group">
        <label class="control-label" for="youtube">Link (URL), on YouTube:</label>
        <input class="form-control" id="youtube" name="youtube" placeholder="https://...." [(ngModel)]="newTerm.linkYouTube" required minlength="5" maxlength="200"
          #youtube="ngModel">
      </div>
    </div>

    <div class="col-md-8">
      <!-- <button class="btn btn-primary" type="submit" [disabled]="!f.form.valid">Save</button>&nbsp; -->
      <button class="btn btn-primary" type="submit" >Save</button>&nbsp;
      <a routerLink="/terms" class="btn btn-default">Back to list</a>
    </div>
    </form>
  </div>
</div>
