<h3>Michael Dzura
</h3>
<h5>Software Development Degree Student at Seneca College
</h5>

<div class="col-md-3">
  <img src="https://i.imgur.com/gUzYfq5.jpg" alt="" class="img-rounded img-responsive absolute-center">
</div>

<div class="col-md-9">
  <div class="dl-horizontal">
    <div>
      <strong>Age: {{age}}</strong>
    </div>
    <div >
      <strong>Birthday:</strong> June 20th, 1991
    </div>
    <div >
      <strong>Website:</strong> <a href="http://www.michaeldzura.com"> http://www.michaeldzura.com</a>
    </div>

    <div class="col-md-8">
      <div class="dl-horizontal">
              <h4>Description: </h4>
              <p>Coding is relaxing, despite all the hurdles of debugging. Nothing is more satisfying then
              moments where you code something and it actually works! I see the digital world as being
              inclusive of everyone despite differences of abilities. With so much ingenuity and
              possibilities to explore, I enjoy taking the initiative to learn as much as I can on my
              own with Hardware and Software, since these areas are not held back by my disability.</p>
              <p>In my spare time I enjoy reading Tech articles, watching Youtube, and Gaming. My Top 5 All-Time
              Favourite PC Games are Half Life 2 (Entire Saga), Portal 2, Left 4 Dead, Command and Conquer Tiberium Wars,
              and Grand Theft Auto San Andreas.</p>

      </div>
    </div>
  </div>
</div>
