<div id="Contact">
  <div class="container-fluid text-center">
    <h3>Who Am I?</h3>
    <img src="https://i.imgur.com/gUzYfq5.jpg" width="280" class="img-circle" alt="Michael Dzura Santa Barbara Boardwalk" />
    <h3>Michael Dzura</h3>
  </div>

  <div class="container-fluid text-center">
    <h3>What Am I?</h3>
    <p>Second Year Software Development Degree Student at Seneca College</p>
  </div>

  <div class="container-fluid text-center">
    <h3>Where To Reach Me?</h3>
    <p>Lorem ipsum..</p>
  </div>
</div>
