<div class="containter">
  <div class="row">
    <div class="col-md-12">
      <h3>Edit Term - "{{changeTerm.wordEnglish}}"</h3>
      <p>Enter data, and click/tap the Save button</p>
      <form (ngSubmit)='editTerm()' #f='ngForm'>
      <div class="col-md-8">
        <div class="form-group">
          <label class="control-label" for="englishword">English Word:</label>
          <input class="form-control" id="englishword" name="englishword" [(ngModel)]="changeTerm.wordEnglish" required minlength="3"
            maxlength="200" #englishword="ngModel" autofocus>

          <!-- Validation error area -->
          <!-- Single condition... -->
          <!-- <div [hidden]="name.valid || name.pristine" class='alert alert-danger'> -->
          <!-- Multiple conditions... -->
          <div *ngIf='englishword.invalid && (englishword.dirty || englishword.touched)' class='alert alert-danger'>
            <!-- The code below is situation-dependent - think before coding -->
            <div *ngIf='englishword.errors?.required'>English Word is required, 3 to 100 characters</div>
            <div *ngIf='englishword.errors?.minlength'>English Word must be at least 3 characters</div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label" for="author">Author:</label>
          <input class="form-control" id="author" name="auth" [(ngModel)]="changeTerm.authorName" required minlength="5" maxlength="100"
            #author="ngModel">

          <!-- Validation error area -->
          <div *ngIf='author.invalid && (author.dirty || author.touched)' class='alert alert-danger'>
            <div *ngIf='author.errors?.required'>Author name is required</div>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="form-group">
          <label class="control-label" for="wordexpanded">Word Expanded:</label>
          <input class="form-control" id="wordexpanded" name="wordexpanded" [(ngModel)]="changeTerm.wordExpanded" required minlength="3"
            maxlength="200" #wordexpanded="ngModel" autofocus>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label" for="fieldofstudy">Field of Study:</label>
          <input class="form-control" id="fieldofstudy" name="fieldofstudy" [(ngModel)]="changeTerm.fieldOfStudy" required minlength="5" maxlength="200"
            #fieldofstudy="ngModel">

          <!-- Validation error area -->
          <div *ngIf='fieldofstudy.invalid && (fieldofstudy.dirty || fieldofstudy.touched)' class='alert alert-danger'>
            <div *ngIf='fieldofstudy.errors?.required'>Field of Study is required</div>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="form-group">
          <label class="control-label" for="nonenglishword">NonEnglish Word:</label>
          <input class="form-control" id="nonenglishword" name="nonenglishword" [(ngModel)]="changeTerm.wordNonEnglish" required minlength="5" maxlength="200"
            #nonenglishword="ngModel">
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label" for="datecreated">Date Created:</label>
          <input class="form-control" id="datecreated" name="datecreated"  [(ngModel)]="changeTerm.dateCreated" required minlength="5" maxlength="50"
            disabled #datecreated="ngModel">
        </div>
      </div>

      <!-- Select-option (default single select, dropdown) -->
      <div class="form-group">

      </div>

      <div class="col-md-8">
        <div class="form-group">
           <label class="control-label" for="langcode">Language Code:</label>
        <select class="form-control" id="langcode" name="langcode"
          [(ngModel)]="changeTerm.languageCode" #langcode="ngModel">
          <option *ngFor="let l of lc" [value]="l.value"
          [selected]="changeTerm.languageCode==l.text ? true : null">{{l.text}}</option>
        </select>

          <!-- Validation error area -->
          <div *ngIf='langcode.invalid && (langcode.dirty || langcode.touched)' class='alert alert-danger'>
            <div *ngIf='langcode.errors?.required'>Language Code is required, 5 to 50 characters</div>
            <div *ngIf='langcode.errors?.minlength'>Language Code must be at least 5 characters</div>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="form-group">
          <label class="control-label" for="image">Image:</label>
          <input class="form-control" id="image" name="image" [(ngModel)]="changeTerm.image" required minlength="5" maxlength="200"
            #image="ngModel">

          <!-- Validation error area -->
          <div *ngIf='image.invalid && (image.dirty || image.touched)' class='alert alert-danger'>
            <div *ngIf='image.errors?.required'>Image link is required</div>
          </div>
        </div>
      </div>


      <div class="col-md-8">
        <div class="form-group">
          <label class="control-label" for="audio">Audio:</label>
          <input class="form-control" id="audio" name="audio" [(ngModel)]="changeTerm.audio" required minlength="5" maxlength="200"
            #audio="ngModel">
        </div>
      </div>

      <div class="col-md-8">
        <div class="form-group">
          <label class="control-label" for="authoritative">Direct URL:</label>
          <input class="form-control" id="authoritative" name="authoritative" [(ngModel)]="changeTerm.linkAuthoritative" required minlength="5" maxlength="200"
            #authoritative="ngModel">
        </div>
      </div>

      <div class="col-md-8">
        <div class="form-group">
          <label class="control-label" for="wiki">Wikipedia:</label>
          <input class="form-control" id="wiki" name="wiki" [(ngModel)]="changeTerm.linkWikipedia" required minlength="5" maxlength="200"
            #wiki="ngModel">
        </div>
      </div>


      <div class="col-md-8">
        <div class="form-group">
          <label class="control-label" for="youtube">YouTube:</label>
          <input class="form-control" id="youtube" name="youtube" [(ngModel)]="changeTerm.linkYouTube" required minlength="5" maxlength="200"
            #youtube="ngModel">
        </div>
      </div>

      <div class="col-md-8">
        <!-- <button class="btn btn-primary" type="submit" [disabled]="!f.form.valid">Save</button>&nbsp; -->
        <button class="btn btn-primary" type="submit" >Save</button>&nbsp;
        <a routerLink="/term/english/details/{{ changeTerm._id }}" class="btn btn-default">Go Back</a>
      </div>
      </form>
    </div>
  </div>
