<div id="home">
  <div className="container-fluid text-center">
    <div className="row content">
        <div className="col-sm-8 text-left">
            <h1>BTI 425</h1>
            <h3>Assignment #2</h3>
            <p><strong>Web-App:</strong> <a href="https://bti425-a2-web-app.herokuapp.com/"> https://bti425-a2-web-app.herokuapp.com/</a> </p>
            <p><strong>Web-API:</strong> <a href="https://bti425-a2-web-api.herokuapp.com/"> https://bti425-a2-web-api.herokuapp.com/</a></p>
        </div>
    </div>
</div></div>
