<div class="col-md-8">
  <h3>List of Terms:</h3>
</div>
  <div class="col-md-4">
    <input class="form-control" (ngModelChange)="getByWord()" type="text" placeholder="Search">
  </div>
<div id="terms">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Word</th>
        <th>Author</th>
        <th>Definition</th>
        <th>Field of Study</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of terms">
        <td>{{ p.wordEnglish }}</td>
        <td>{{ p.authorName }}</td>
        <td>{{ p.definitions }}</td>
        <td>{{ p.fieldOfStudy }}</td>
        <td><div><a routerLink="/details" class="btn btn-info">Detail</a>
                 <input class="btn btn-danger" type="submit" value="Delete" /></div></td>
      </tr>
    </tbody>

    <!-- <tbody>
      <tr *ngFor="let p of terms">
        <td>{{ p.id }}</td>
        <td>{{ p.userId }}</td>
        <td>{{ p.title }}</td>
        <td>{{ p.body }}</td>
      </tr>
    </tbody> -->
  </table>
</div>

